<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>BP205_WAR</display-name>
	
	<filter-mapping>
	    <filter-name>ensureAuthFilter</filter-name>
	    <url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>ensureOAuthFilter</filter-name>
	    <url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>ensureUserObjectFilter</filter-name>
	    <url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>ensureNotExternalFilter</filter-name>
	    <url-pattern>/api/*</url-pattern>
	</filter-mapping>
</web-app>
